table.comparison{
	margin: 10px;
	border-collapse: collapse;
	border-spacing: 0px;
}
table.comparison td{
	border: 1px solid black;
	padding: 2px 4px;
}
table.comparison th{
	font-weight: bold;
}

figure.image{
	width: 800px;
	text-align: center;
	margin: 10px auto;
	display: table-cell;
}

figure.image img{
    margin: auto;
    max-width: 800px;
}

.site-header{
	color: #000000;
	background: black url(space_background.jpg) repeat-x fixed top center;
}

table.image-wrapper td{
	text-align: center;
	font-size: 80%;
}

table.image-wrapper{
	width: 100%;
	margin: auto auto 10px;
}


/* This is for notebooks */

div.prompt{
	margin-left: -90px;
	display: inline-block;
	width: 80px;
	padding: 6px;
	/* margin-bottom: -30px; */
	position: absolute;
	text-align: right;
}

div.input_prompt{
	color: #336;
}

div.output_prompt{
	color: #933;
}

div.output_text pre{
	background: #e5e5e5;
}

/* this is not for notebooks */