---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}

    <h1>Remarks </h1>
    {% assign sorted_remarks = site.remarks | sort: "date" %}
    {% assign reversed_remarks = sorted_remarks | reverse %}
    {% for item in reversed_remarks %}
    <p> <span class="post-date-prefix">{{ item.date | date: "%Y %b %d" }}</nobr></span> &nbsp; <a href="{{ item.url }}">{{ item.title }}</a> </p>
      <p>{{ item.description }}</p>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
