<div class="after-article">


  <div class="recommended-links">
    <table>
      <tr>
        <td>
          <img src="/images/favicon_image2.png" style="padding: 10px;" />
        </td>
        <td>
          <h2>Top posts at "brilliantly wrong":</h2>
          <ul>
            <li>
              <a href="{% post_url 2016-02-09-DrawingPictureWithML %}">
                Reconstructing pictures with machine learning
              </a>
            </li>
            <li>
              <a href="{% post_url 2016-04-28-demonstrations-for-ml-courses %}">
                Machine Learning demonstrations in your browser
              </a>
            </li>
            <li>
              <a href="{% post_url 2015-10-09-gradient-boosted-reweighter %}">
                Reweighting with Boosted Decision Trees
              </a>
            </li>
            <li>
              <a href="{% post_url 2015-09-08-SpeedBenchmarks %}">
                Speed benchmarks: numpy vs all.
              </a>
            </li>
            <li>
              Numpy tips and tricks:
              <a href="{% post_url 2015-09-29-NumpyTipsAndTricks1 %}">
                part 1</a>,
              <a href="{% post_url 2015-09-30-NumpyTipsAndTricks2 %}">
                part 2
              </a>
            </li>
            <li>
              Machine learning in COMET:
              <a href="{% post_url 2015-06-22-machine-learning-used-in-tracking-of %}">
                part 1</a>,
              <a href="{% post_url 2015-07-05-machine-learning-in-comet-experiment %}">
                part 2
              </a>
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
</div>
