table.comparison {
    margin: 10px;
    border-collapse: collapse;
    border-spacing: 0px;
}

table.comparison td {
    border: 1px solid black;
    padding: 2px 4px;
}

table.comparison th {
    font-weight: bold;
}

figure.image {
    width: 800px;
    text-align: center;
    margin: 10px auto;
    display: table-cell;
}

figure.image img {
    margin: auto;
    max-width: 800px;
}

.site-header {
    color: #000000;
    background: black url(space_background.jpg) repeat-x fixed top center;
}

table.image-wrapper td {
    text-align: center;
    font-size: 80%;
}

table.image-wrapper {
    width: 100%;
    margin: auto auto 10px;
}

/* This is for notebooks */

div.prompt {
    margin-left: -90px;
    display: inline-block;
    width: 80px;
    padding: 6px;
    /* margin-bottom: -30px; */
    position: absolute;
    text-align: right;
}

div.input_prompt {
    color: #336;
}

div.output_prompt {
    color: #933;
}

div.output_text pre {
    background: #e5e5e5;
}

a.anchor-link {
    font-size: 0.8em;
    padding: 4px;
    color: #9cb4ff

}

pre {
    overflow-x: auto;
}

table.dataframe {
    border-collapse: collapse;
    margin: 5px 0px 15px;
}

table.dataframe td, table.dataframe th {
    text-align: center;
    padding: 1px 4px;
}

div.output div.output_html {
    overflow-x: scroll;
}

/* this is not for notebooks */

img.site-icon {
    display: None;
}

.site-nav .page-link {
    color: #aaa;
}

/* Below is css for links */

div.after-article {
    background: rgb(41, 41, 41);
    color: white;
    font-weight: bold;
    margin: 0px;
    padding: 40px;
    box-shadow: inset 0 0 40px #000000;
}

div.recommended-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    margin: 10px auto;
}

div.recommended-links > div {
    margin: 10px 15px;
    a {color: #44a;}
}

div.recommended-links a:hover {
    color: #9cb4ff;
}

div.recommended-links a:visited {
    color: #303baa;
}

div.visualizations-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px auto;

    a {text-decoration: underline; color: #aac; }
    a:visited{ color: #779; }
}

div.visualizations-list>div{
    width: 200px;
    text-align: center;
}

div.visualizations-list img{
    display: block;
    margin: 0px auto;
    width: 150px;
    height: 150px;
    border-radius: 75px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}