---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

  <!-- adding temp info -->
  <!--
  <div class='job-looking' style='background: #DEF; font-size: 1.2em; padding: 30px;'  >
    Psst. Looking for a <strong>research scientist in machine learning</strong> to join your team? <br />
    Drop me an email, I'm currently open for opportunities! <a href='http://arogozhnikov.github.io/cv/AlexRogozhnikov.html' >My CV</a>.
  </div>
  -->
  <!-- end of temp info -->

</div>
